@page "/NewsArticles"
@inject HttpClient Http
@using System.Runtime.Serialization;
@using System.Net;
<h1>Blazor App CA 3</h1>

<h3>News Articles </h3>

@if (data == null)
{
    <p> Loading..</p>
}
else
{
    @if (found)
    {
        //News article goes here
    }
}


@code {

    //Vars
    private Application data;
    private string country = "ie";
    private bool found;

    //Lifecycle method
    private async Task getNewsArticlesAsync()
    {
        //Try catch block to handle exceptions
        try
        {
            string url = "https://newsapi.org/v2/top-headlines?country=" + country + "&apiKey=6901d317102e4ebba09bb241fdb3c16b";
            data = await Http.GetFromJsonAsync<Application>(url);
            found = true;

        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw e;
        }
    }

    //Lifecycle method
    protected override async Task OnInitializedAsync()
    {
        await getNewsArticlesAsync();
    }

    //c# Code auto generated from JSON using  https://www.site24x7.com/tools/json-to-csharp.html

    public class Source
    {
        public string id { get; set; }
        public string name { get; set; }

    }
    public class Articles
    {
        public Source source { get; set; }
        public string author { get; set; }
        public string title { get; set; }
        public string description { get; set; }
        public string url { get; set; }
        public string urlToImage { get; set; }
        public DateTime publishedAt { get; set; }
        public string content { get; set; }

    }
    public class Application
    {
        public string status { get; set; }
        public int totalResults { get; set; }
        public IList<Articles> articles { get; set; }

    }
}