@page "/"

<h1>Blazor Application CA - Juliusz Brzeczkowski X00145602</h1>
<br />
<h3>Use the navigation link to open the News Articles page which showcases the News API implemented, fetching data from a server</h3>
<br />
<h4>API gotten from : <a href="https://newsapi.org/">https://newsapi.org/</a></h4>

